@model VKart.Models.Customer
@{
    ViewBag.Title = "Customer Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@Model.Name</h2>
<ul>
    <li>Membership Type Id: @Model.MembershipType.Id</li>
</ul>